<div class="dark:bg-dark-700 rounded-lg bg-gray-50 p-6">
    <p class="dark:text-dark-300 text-gray-700"><strong>Email:</strong> contact@mrchetan.com</p>
    <p class="dark:text-dark-300 text-gray-700"><strong>Phone:</strong> +91-9460053140</p>
    <p class="dark:text-dark-300 text-gray-700">
        <strong>Address:</strong> 26/F/105 CM Teacher and Parhari Scheme, Pratap Nagar, Sector 26, Sanganer, Jaipur,
        Rajasthan 302033
    </p>
    <p class="dark:text-dark-300 mt-4 text-gray-700">
        <strong>Business Hours:</strong> Monday to Friday, 9:00 AM to 6:00 PM (IST)
    </p>
</div>
