<!-- Footer -->
<footer class="bg-gray-900 pt-12 text-white">
    <div class="container mx-auto px-6">
        <div class="mx-auto max-w-6xl">
            <div class="mb-8 text-center">
                <div class="mb-8 flex flex-wrap justify-center gap-6">
                    <a href="/#about" class="text-sm text-gray-300 transition-colors hover:text-white">ABOUT</a>
                    <a href="/#resume" class="text-sm text-gray-300 transition-colors hover:text-white">RESUME</a>
                    <a href="/#contact" class="text-sm text-gray-300 transition-colors hover:text-white">CONTACT</a>
                    <a href="/privacy/index.html" class="text-sm text-gray-300 transition-colors hover:text-white">
                        PRIVACY POLICY
                    </a>
                    <a href="/refund/index.html" class="text-sm text-gray-300 transition-colors hover:text-white">
                        REFUND & RETURNS POLICY
                    </a>
                    <a href="/terms/index.html" class="text-sm text-gray-300 transition-colors hover:text-white">
                        TERMS & CONDITION
                    </a>
                </div>
                <div class="mb-8 flex justify-center space-x-6">
                    <a
                        href="https://www.linkedin.com/in/mr-chetan/"
                        target="_blank"
                        class="text-gray-400 transition-colors hover:text-white"
                    >
                        <svg
                            class="size-6"
                            fill="currentColor"
                            viewBox="0 0 128 128"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M116 3H12v0c-4.92-.06-8.94 3.88-9 8.8v104.42 0c.07 4.9 4.09 8.83 9 8.78h104v0c4.91.03 8.93-3.9 9-8.81V11.77v0c-.09-4.9-4.11-8.81-9-8.77ZM39.17 107H21.06V48.73h18.11Zm-9-66.21v-.001c-5.8 0-10.51-4.7-10.51-10.49 -.01-5.8 4.69-10.51 10.48-10.51 5.79-.01 10.5 4.69 10.5 10.48 0 0 0 0 0 0v0c-.02 5.79-4.73 10.49-10.52 10.48 -.01-.01-.02-.01-.03-.01ZM107 107H88.89V78.65c0-6.75-.12-15.44-9.41-15.44 -9.29 0-10.87 7.36-10.87 15V107H50.53V48.73h17.36v8h.24c2.42-4.58 8.32-9.41 17.13-9.41C103.6 47.28 107 59.35 107 75Z"
                            ></path>
                        </svg>

                        <span class="sr-only">LinkedIn</span>
                    </a>
                    <a
                        href="https://github.com/mr-chetan"
                        target="_blank"
                        class="text-gray-400 transition-colors hover:text-white"
                    >
                        <svg class="size-6" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                d="M7.976 0v0C3.57121.0005521.000552 3.57121 0 7.976c0 3.522 2.3 6.507 5.431 7.584 .392.049.538-.196.538-.392v-1.37c-2.201.49-2.69-1.076-2.69-1.076 -.343-.93-.881-1.175-.881-1.175 -.734-.489.048-.489.048-.489 .783.049 1.224.832 1.224.832 .734 1.223 1.859.88 2.3.685 .048-.538.293-.88.489-1.076 -1.762-.196-3.621-.881-3.621-3.964 0-.88.293-1.566.832-2.153 -.05-.147-.343-.978.098-2.055 0 0 .685-.196 2.201.832 .636-.196 1.322-.245 2.007-.245s1.37.098 2.006.245c1.517-1.027 2.202-.832 2.202-.832 .44 1.077.146 1.908.097 2.104v0c.538892.587083.836068 1.3561.832 2.153 0 3.083-1.86 3.719-3.62 3.915 .293.244.538.733.538 1.467v2.202c0 .196.146.44.538.392v0C13.8214 14.4624 16.0082 11.4087 16 7.976c-.049-4.404-3.62-7.976-8.024-7.976Z"
                            ></path>
                        </svg>
                        <span class="sr-only">GitHub</span>
                    </a>
                    <a
                        href="https://stackoverflow.com/users/13265630/chetan"
                        target="_blank"
                        class="text-gray-400 transition-colors hover:text-white"
                    >
                        <svg
                            class="size-6"
                            fill="currentColor"
                            viewBox="0 0 128 128"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M83.87 0L74.7 6.81l34.08 45.8 9.16-6.81L83.862-.01ZM62.84 18.227l-7.31 8.77 43.88 36.531 7.3-8.78L62.82 18.22ZM46.02 42.033l-4.82 10.35 51.76 24.1 4.82-10.35 -51.77-24.1Zm-9.863 25.92l-2.36 11.17 55.88 11.73 2.34-11.17L36.13 67.93Zm-26.13 14.55v45.488H112.43V82.503h-11.38l-.01 34.11H21.39v-34.12H10.01Zm22.759 11.36v11.37h56.88V93.85H32.77Z"
                            ></path>
                        </svg>
                        <span class="sr-only">Stack Overflow</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-800 py-4">
        <div class="container mx-auto text-center">
            <p class="text-sm text-gray-400">
                © 2025 Mr Chetan, All rights reserved. Unauthorized duplication or publication of any materials from
                this Site is expressly prohibited.
            </p>
        </div>
    </div>
</footer>
