<!-- Structured Data (JSON-LD) -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Mr Chetan",
        "alternateName": "Chetan",
        "description": "Professional Software Developer from Jaipur, India",
        "url": "https://mrchetan.com",
        "image": "https://mrchetan.com/chetan.jpeg",
        "sameAs": [
            "https://www.linkedin.com/in/mr-chetan/",
            "https://github.com/mr-chetan",
            "https://stackoverflow.com/users/13265630/chetan"
        ],
        "jobTitle": "Software Developer",
        "worksFor": {
            "@type": "Organization",
            "name": "Devanox Private Limited"
        },
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "26/F/105 CM Teacher and Parhari Scheme, Pratap Nagar, Sector 26, Sanganer",
            "addressLocality": "Jaipur",
            "addressRegion": "Rajasthan",
            "postalCode": "302033",
            "addressCountry": "India"
        },
        "email": "contact@mrchetan.com",
        "telephone": "+91-9460053140",
        "knowsAbout": [
            "Laravel Developer",
            "Flutter Developer",
            "PHP",
            "Laravel",
            "Flutter",
            "Dart",
            "MySQL",
            "HTML",
            "CSS",
            "JavaScript",
            "Web Development",
            "Mobile App Development",
            "Video Editing",
            "Graphic Design"
        ],
        "alumniOf": [
            {
                "@type": "CollegeOrUniversity",
                "name": "S.S. Jain Subodh PG College",
                "address": "Jaipur, India"
            }
        ],
        "hasCredential": [
            {
                "@type": "EducationalOccupationalCredential",
                "name": "Master of Computer Applications (MCA)",
                "educationalLevel": "Master's Degree",
                "dateReceived": "2020"
            },
            {
                "@type": "EducationalOccupationalCredential",
                "name": "Bachelor of Computer Applications (BCA)",
                "educationalLevel": "Bachelor's Degree",
                "dateReceived": "2018"
            }
        ]
    }
</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Mr Chetan - Software Developer",
        "description": "Professional portfolio website of Mr Chetan, a software developer from Jaipur, India",
        "url": "https://mrchetan.com",
        "author": {
            "@type": "Person",
            "name": "Mr Chetan"
        },
        "inLanguage": "en-US",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://mrchetan.com/?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "ProfessionalService",
        "name": "Mr Chetan - Software Development Services",
        "description": "Professional software development services including Laravel application development and customization, web development, mobile app development, and video editing",
        "url": "https://mrchetan.com",
        "telephone": "+91-9460053140",
        "email": "contact@mrchetan.com",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "26/F/105 CM Teacher and Parhari Scheme, Pratap Nagar, Sector 26, Sanganer",
            "addressLocality": "Jaipur",
            "addressRegion": "Rajasthan",
            "postalCode": "302033",
            "addressCountry": "India"
        },
        "serviceType": [
            "Laravel App Development",
            "Flutter App Development",
            "Web Development",
            "Mobile App Development",
            "Video Editing",
            "Graphic Design",
            "Technical Consulting"
        ],
        "provider": {
            "@type": "Person",
            "name": "Mr Chetan"
        },
        "areaServed": "Worldwide",
        "hasOfferCatalog": {
            "@type": "OfferCatalog",
            "name": "Software Development Services",
            "itemListElement": [
                {
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Service",
                        "name": "Laravel App Development",
                        "description": "Custom web application development using Laravel framework"
                    }
                },
                {
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Service",
                        "name": "Flutter App Development",
                        "description": "Cross-platform mobile application development using Flutter framework"
                    }
                },
                {
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Service",
                        "name": "Web Development",
                        "description": "Modern and responsive website development using latest technologies"
                    }
                },
                {
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Service",
                        "name": "Mobile App Development",
                        "description": "iOS and Android application development using Flutter and native technologies"
                    }
                }
            ]
        }
    }
</script>
